$font-main: 'Lato-Regular';
$font-main-bold: 'Lato-Bold';
$font-logo: 'Raleway-Bold';
$main-width-page: 1170px;

$color-white: #fff;
$color-blue: #42A9ED;
$color-blue-ligth: #3E9CDC;
$color-blue-stroke: #286690;
$color-grey: #6F6D7B;
$color-dark-grey: #3D4050;
$color-light-grey: #C3C3C3;
$color-bottom-bg: #272733;