<footer class="footer">
    <div class="footer__wrap">
        <ul class="footer__links">
            <li class="footer__links__license">© 2018 «LoremIpsum.net» Все права защищены.</li>
            <li class="footer__links__qiwi">Qiwi wallet</li>
            <li class="footer__links__ym">Yandex Money</li>
            <li class="footer__links__wm">Web Money</li>
            <li class="footer__links__mail"><a href="mailto:info@ipsum228.com">info@ipsum228.com</a></li>
            <li class="footer__links__vk"><a href="vk.ru">Мы вконтакте</a></li>
        </ul>
    </div>
</footer>
